/* CSS Grid Layout for pages without nav */
.body {
	min-height: 100svh;
	min-width: 100svw;
	display: grid;

	/* The main takes the rest of the space always, 
	and navbar is always on top */
	grid-template-rows: auto 1fr;

	overflow: hidden;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
}
